body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

h1 {
    margin: 10px;
    background-color: rgba(255, 239, 186, 0.09);
    grid-column: 1/3;
}

#container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    width: 95vw;

}

section{
    padding: 10px;
    margin: 10px;
    border: solid black thin;
    background:#2c3e50;
}

aside {

    padding: 20px;
    border: solid black thin;
    background:#ecf0f1;
}