head {
    padding: 1fr;
    margin: 1fr;
}

header {
    padding: 1fr;
    margin: 1fr;
}

body {
    padding: 1fr;
    margin: 1fr;
}

main {
    padding: 1fr;
    margin: 1fr;
}

aside {
    padding: 1fr;
    margin: 1fr;
}

section {
    padding: 1fr;
    margin: 1fr;
}

