body{
    margin: 0;
    background:#222;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
    width:400px;
    margin:auto;
    margin-top:40px;
}

#flagImg{
    width:100%;
    border-radius:10px;
}