body {
    margin:0
}

#container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
}

header{
    grid-column: 1/3;
    background-color: steelblue;
}

nav {
    display: flex;
    background-color: orange;
    grid-column: 1/3;
    align-items: center;
    justify-content: center;
}

#content {
    background: lightgray;
}

#sidebar {
    background: lightcoral; 
}

footer{
    grid-column:1 / 3;
    background:black;
    color:white;
}