:root{
    background: rgba(0,0,0, 06%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 10px;
}

body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    min-height: 90vh;
    background: rgb(46,46,46);
}

h1 {
    grid-column: 1/4;
    background-color: azure;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s1 {
     
    height: 50vh;
    background: rgba(0, 0, 0, 0.322);
    align-items: center;
    font-size: 30px;
}
#s2 {

    height: 50vh;
    background: rgba(0, 0, 0, 0.322);
    align-items: center;
    font-size: 20px;
}

#s3 {
  
    height: 50vh;
    background: rgba(0, 0, 0, 0.322);
    align-items: center;
     font-size: 20px;
}