body {
    margin: 0;
    color: white;
}

#grid_container {
    display:grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    background-image: url("heartflame.jpg");
    background-size: cover;
    z-index: -1;
    background-position: center;
}

nav {
    grid-column: 1/3;
    background: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1 {
    background: rgba(83, 42, 73, 0.6);
    padding: 20px;
}

#section2 {
    background: rgba(83, 42, 73, 0.6);
    padding: 20px;
}